body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    background: white;
    min-height: 99vh;
    min-width: 98vw;
    #bg {
        @media (min-width: 768px) {
            content: url('Version web.svg');
        }
    }
    .content-container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            align-items: flex-start;
        }
        transition: all 1.3s step-start;
        .card-container {
            transition: all 2s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 12px;
            width: 95%;
            @media (min-width: 340px) {
                width: 95%;
                opacity: 0.95;
            }
            /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
            @media (min-width: 768px) {
                width: 75%;
                margin-left: 100px;
                opacity: 1;
            }
            /* Large devices (desktops, 992px and up) */
            @media (min-width: 992px) {
                width: 75%;
                margin-left: 200px;
            }
            /* Extra large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) {
                margin-left: 250px;
                width: 40%;
            }
            &.select {
                width: 318px;
                .upload-container {
                    height: 318px;
                }
            }
            .upload-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 324px;
                border-radius: 2px;
                padding: 4px;
                cursor: pointer;
                .material-icons {
                    font-size: 125px;
                }
                span {
                    margin-top: 21px;
                }
                img {
                    height: 100%;
                }
            }
            .disease {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 40px;
                background-color: whitesmoke;
                span {
                    font-size: 18px;
                    font-weight: 800;
                    z-index: 3;
                }
                .percentage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: #56bd6d;
                }
            }
        }
    }
}


/* flip card */

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;
$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 110vh;
    width: 80%;
    background: #F9F000;
    margin: 2em auto;
    text-align: center;
    padding: 4em 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @media (min-width: 576px) {}
    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {}
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {}
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}
    position: relative;
    border: none;
    perspective: 150em;
    &__side {
        position: relative;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all .6s ease;
        box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
        &--front {
            background-color: #FFF;
        }
        &--back {
            color: #FFF;
            transform: rotateY(180deg);
            background-color: #FFF;
        }
    }
    &__side--front.flip {
        transform: rotateY(-180deg);
    }
    &__side--back.flip {
        transform: rotate(0);
    }
    &__description {
        font-size: 2em;
        padding: 4em 0;
    }
}


/* progress bar's */


/* Material shadow */

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* button animation */

.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb( 255, 255, 255);
    background-color: rgb(33, 150, 243);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}


/* Overlay */

.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}


/* Ripple */

.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    /* Safari */
    height: 32px;
    /* Safari */
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}


/* Hover, Focus */

.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}


/* Active */

.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}


/* Disabled */

.pure-material-button-contained:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}