body {
  font-family: "Roboto", sans-serif !important;
  min-height: 99vh;
  min-width: 99vw;
  background: #a8ff78;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#78ffd6), to(#a8ff78));
  background: linear-gradient(to left, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body .content-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-container .card > img {
  cursor: pointer;
}

/* flip card */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  height: 110vh;
  width: 80%;
  background: #F9F000;
  margin: 2em auto;
  text-align: center;
  padding: 4em 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 100%;
  min-height: 95vh;
  background: #a8ff78;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#78ffd6), to(#a8ff78));
  background: linear-gradient(to left, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  /* Large devices (desktops, 992px and up) */
  /* Extra large devices (large desktops, 1200px and up) */
  position: relative;
  border: none;
  margin: 10px 10px;
  -webkit-perspective: 150em;
          perspective: 150em;
}

@media (min-width: 576px) {
  .card {
    width: 90%;
    min-height: 95vh;
  }
}

@media (min-width: 768px) {
  .card {
    width: 75%;
    min-height: 85vh;
  }
}

@media (min-width: 992px) {
  .card {
    width: 50%;
    min-height: 85vh;
  }
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
          box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}

.card__side--front {
  background-color: #FFF;
}

.card__side--back {
  color: #FFF;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #FFF;
}

.card__side--front.flip {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__side--back.flip {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.card__description {
  font-size: 2em;
  padding: 4em 0;
}

/* progress bar's */
#skill {
  list-style: none;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  width: 296px;
  margin: 50px auto 0;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
}

#skill li {
  margin-bottom: 50px;
  background: #e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height: 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li p {
  color: black;
  position: relative;
  left: 6%;
  top: -32px;
  font-size: 24px;
}

.bar {
  height: 22px;
  margin: 1px 2px;
  padding-left: 3px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.d1 {
  width: 100%;
  background-color: #f674a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
  background-image: linear-gradient(top, #f674a4, #e06995);
}

.d2 {
  width: 90%;
  background-color: #f0bb4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.d3 {
  width: 65%;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.d4 {
  width: 90%;
  background-color: #66b3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
  background-image: linear-gradient(top, #66b3cc, #5da3ba);
}
/*# sourceMappingURL=style.css.map */