body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    min-height: 99vh;
    min-width: 99vw;
    .content-container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card>img {
            cursor: pointer;
        }
        .upload-container {
            background-color: #eee;
            height: 70%;
            border-radius: 7px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            .upload {
                margin: .5rem .5rem 1rem .5rem;
                clear: both;
                font-family: inherit;
                font-weight: 700;
                font-size: 14px;
                text-decoration: none;
                text-transform: initial;
                border: none;
                border-radius: .2rem;
                outline: none;
                padding: 0 1rem;
                height: 36px;
                line-height: 36px;
                color: #fff;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                box-sizing: border-box;
                background: #454cad;
                border-color: #454cad;
                cursor: pointer;
            }
            &:hover {
                border: 3px solid #454cad;
                box-shadow: inset 0 0 0 6px #eee;
            }
        }
    }
    background: #a8ff78;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* flip card */

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;
$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 110vh;
    width: 80%;
    background: #F9F000;
    margin: 2em auto;
    text-align: center;
    padding: 4em 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    min-height: 95vh;
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @media (min-width: 576px) {
        width: 90%;
        min-height: 95vh;
    }
    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {
        width: 75%;
        min-height: 85vh;
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        width: 50%;
        min-height: 85vh;
    }
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}
    position: relative;
    border: none;
    margin: 10px 10px;
    perspective: 150em;
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all .6s ease;
        box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
        &--front {
            background-color: #FFF;
        }
        &--back {
            color: #FFF;
            transform: rotateY(180deg);
            background-color: #FFF;
        }
    }
    &__side--front.flip {
        transform: rotateY(-180deg);
    }
    &__side--back.flip {
        transform: rotate(0);
    }
    &__description {
        font-size: 2em;
        padding: 4em 0;
    }
}


/* progress bar's */

#skill {
    list-style: none;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 296px;
    margin: 50px auto 0;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
}

#skill li {
    margin-bottom: 50px;
    background: #e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
    height: 24px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li p {
    color: black;
    position: relative;
    left: 6%;
    top: -32px;
    font-size: 24px;
}

.bar {
    height: 22px;
    margin: 1px 2px;
    padding-left: 3px;
    font-weight: 800;
    font-size: 18px;
    color: black;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    position: absolute;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.d1 {
    width: 100%;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.d2 {
    width: 90%;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.d3 {
    width: 65%;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.d4 {
    width: 90%;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}