body {
    font-family: 'Roboto', sans-serif!important;
    min-height: 100vh;
    min-width: 100vw;
    .content-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* flip card */

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;
$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: avenir;
}

.content {
    height: 110vh;
    width: 80%;
    background: #F9F000;
    margin: 2em auto;
    text-align: center;
    padding: 4em 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    min-height: 95vh;
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @media (min-width: 576px) {
        width: 90%;
        min-height: 95vh;
    }
    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {
        width: 75%;
        min-height: 85vh;
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        width: 50%;
        min-height: 60vh;
    }
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}
    position: relative;
    height: 25em;
    border: none;
    margin: 10px 10px;
    perspective: 150em;
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all .6s ease;
        box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
        &--front {
            background-color: #FFF;
        }
        &--back {
            color: #FFF;
            transform: rotateY(180deg);
            background-color: #FFF;
        }
    }
    &__side--front.flip {
        transform: rotateY(-180deg);
    }
    &__side--back.flip {
        transform: rotate(0);
    }
    &__description {
        font-size: 2em;
        padding: 4em 0;
    }
}