@font-face{
    font-family: coco;
    src:url("../fonts/cocon.otf");
}

* {font-family: coco;text-transform:none}

<!-- start nav bar -->

     .navbar-brand a img {
          width: 70px !important;
          
      }
     .navbar-expand-lg {
        padding: 15px;
        box-shadow: 1px 1px 3px #e4e4e4;

     }
     .mb-lg-0, .my-lg-0 {
         margin-left: 10px;}
         
     .navbar-expand-lg .navbar-nav .nav-link {
         text-transform: uppercase;
         margin-left: 20px;
         color: #009f3c;
         font-weight: 500;
     }
     
     .navbar-nav .active > .nav-link , .navbar-nav .active > .btn-group .nav-link{
         color: #fff !important;

         border-radius: 5px;
         transition: background-color 1s;
         background-color: #009f3c;
     }


<!-- End nav bar -->

<!--START LOGIN PAGE -->
.modal{}
.modal-dialog{}
.modal-content{}
.modal-header{}
.modal-title{
color:#000;
text-transform: uppercase;
}
.modal-body{}
.login{}
.login .form-group label{
 color:#000;
}
.social-media{
 width: 100%;
 margin: 2px 5% 15px 5% ;
 

}
.social-media .facebook{
 width: 45%;
 text-transform: uppercase;
 background-color: #2d4373;
 padding: 10px 0px;
 border-radius: 5px;
 font-size: 20px;
 margin-right: 2px;
 cursor: pointer;

   
}
.social-media .google-plus{

 width: 45%;
 text-transform: uppercase;
 background-color: #d9534f;
 padding: 10px 0px;
  font-size: 20px;
 border-radius: 5px;

 cursor: pointer;
}
.social-media .facebook:hover{ background-color: #355089;}
.social-media .google-plus:hover{ background-color: #E85653;}
.social-media .facebook:active{ background-color: #122A5B;}
.social-media .google-plus:active{ background-color: #841717;}


.forg-pass{
 float: right;
}
.form-control:focus {
    border-color: #009f3c;
    box-shadow: 0 0 0 0.2rem rgba(0, 159, 60, 0.29);
}

.modal-footer .btn-primary{
background-color: #009f3c;
border:1px solid #009f3c 
}

.modal-footer .btn:active{
background-color: #00f;
border:1px solid #009f3c 
}


/*LOGGED CSS*/
.btn-group{cursor: pointer;}
.dropdown-toggle{}
.dropdown-menu{}
.dropdown-menu .dropdown-item{
 padding-left: 10px;
}

.dropdown-menu .dropdown-item:hover{
 background-color: #009f3c;
 color: #fff;
}
/*LOGGED CSS*/
<!-- Start silder -->
       .slider{
          background-color: #DDD;
       }
       
       .slider .carousel-inner {
         display: flex;
         align-items: center;
         justify-content:left; 
         
       }
       .slider .carousel-inner h2 {
          position: absolute;
          z-index: 3;
          font-size: 60px;
          max-width: 550px;
          color: #fff;
          text-transform: uppercase;
          left: 100px;
        
       
       }
       .slider .carousel-inner span {
         background-color: #009f3c;
         padding: 3px 20px;
         border-radius: 15px;
       
       }
       
      .slider .carousel-inner .overly {
         position: absolute;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         background-color: rgba(0,0,0,0.4);
         z-index: 2;
      }
      .slider .carousel-item {
     
         -webkit-background-size: cover;
         -o-background-size: cover;
          background-size: cover;
      }
      
      .slider .carousel-one{
         background-image: url('../images/imgslider1.png')
      }
       .slider .carousel-two{
         background-image: url('../images/imgslider2.jpg')
      }
     
      .slider .carousel-three{
         background-image: url('../images/imgslider3.png')
      }
     .slider .carousel-indicators .active {
         background-color: #009f3c;
     }
     .slider .carousel-indicators li {
        width: 10px;
        height: 10px;
        cursor: pointer;
        border-radius: 5px;
     }

<!-- End slider -->


<!-- Start intro -->
    body {
     
    
    }
   .intro .intro-nav h3 {
       color: #fff;
       background-color: #009f3c;
       padding: 25px;
    }
       .intro .container h5 {
       color: #009f3c;
       font-size: 30px;
       padding:20px 20px 10px 20px;
    }
     .intro .container .row {
      margin-bottom: 20px;
     }

    .intro .step {
        padding: 0px 10px;
        
    }
    
    .intro .step:hover{
       background-color:#fbfbfb
    }
    .intro .col-md-4 {
        padding: 30px 35px;
    }

    .intro img {
        width: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    .intro .col-md-4 img {
        width: 150px;
    }
    .intro .col-lg-4 img {
        width: 120px;
    }


<!-- End intro -->

<!-- Start play store -->
       .playstore {

       }
       .playstore h3 {
       color: #fff;
       background-color: #DDD;
       padding: 25px;
    }
       .playstore .container {
                padding-top: 30px;
        padding-bottom: 30px;
        
       }

       .left {}.img { width: 200px;}

       .rigth img {
           width: 50%;
           cursor: pointer;}
       
       .rigth h2 {
          margin-top: 30px;
          font-size: 2rem;
          color: #929292;
       }

      .social_media ul {
          list-style: none;
          font-size: 70px;
      
      }
         .social_media li {
            display: inline;
            cursor: pointer;
          
         }
         .social_media .facebook :hover {
            color: #3b5998;
         }
         .social_media .twitter :hover {
            color: #00aced;
         }
         .social_media .instagram :hover {
            color: #bc2a8d;
         }

<!-- End playstore-->

<!-- Start team -->
body{
   
}
.team {
   background-color: #009f3c;
   color: #fff;
   padding-bottom: 100px;
   padding-top: 60px;
   
}
.header-text {
   
}
.header-text p {
   font-size: 60px;
   font-weight: bold;
   text-transform: uppercase;
   padding-bottom: 50px;
}
.infoteam img,.infoteam1 img ,.infoteam2 img ,.infoteam3 img {
   width: 180px;
   border:5px solid rgba(255,255,255,0.5);
   transition: all 0.2s ease-in-out;

}
.infoteam img:hover , .infoteam1 img:hover ,.infoteam2 img:hover , .infoteam3 img:hover  {
   width: 180px;
   border:8px solid #009f3c;
}
.infoteam h5 ,.infoteam1 h5 ,.infoteam2 h5 ,.infoteam3 h5{
      text-transform: uppercase;
      padding: 0px;
      margin-top: 30px;
    
}
.infoteam h5:hover , .infoteam1 h5:hover , .infoteam2 h5:hover , .infoteam3 h5:hover {

}
.infoteam,.infoteam1,.infoteam2,.infoteam3 {
 padding-top: 30px;
 background-color: rgba(255,255,255,0.1);
 overflow: hidden;


 
}
.infoteam:hover ,.infoteam1:hover,.infoteam2:hover,.infoteam3:hover{
 transition: all 0.1s ease-in-out;
 border: 2px solid #fff;
  background-color: rgba(0,0,0,0.1);
 }
.collapse {
 color: #fff;

}



/*.infoteam h5:before,.infoteam2 h5:before , .infoteam3 h5:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 31%;
    height: 2px;
    background: #ffffff;
    bottom: 5px;
    left: 35.5%;
}
.infoteam1 h5:before {
     position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 31%;
    height: 2px;
    background: #ffffff;
    bottom: 5px;
    left: 35.5%;
}
*/
.card-body{
 background-color:transparent;
 border: 0px solid #fff;

 
}

/** PROBLEMS**/
.main-container{
 margin-top: 50px;
 margin-bottom: 50px;
}
.page-sidebar{

 
}
.inner-box {
    background-color:#f5f5f5 ;
    margin-bottom: 0;
    padding: 20px 15px;
    border-radius: 3px;
     
}
.collapse-box {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    display: block;
}
.collapse.in {
    display: block;
}
.collapse-title {
    
    color: #2a3744;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

.user-panel-sidebar ul {
    padding: 0;
}
.user-panel-sidebar ul li {
    list-style: none;
}
ul li {
    margin: 0;
    padding: 0;
}
.user-panel-sidebar ul li a.active {
    background-color: #009f3c;
    color: #fff;
}
.collapse-box .badge {
    background-color: #e3e3e3;
    color: #666;
    font-weight: 400;
}
.user-panel-sidebar ul li a {
    background: #fff;
    display: block;
    color: #2a3744;
    font-size: 12px;
    height: auto;
    letter-spacing: .5px;
    line-height: 26px;
    padding: 5px 10px;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.user-panel-sidebar ul li a:hover {
    transition: background-color 0.5s;
    background-color: #009f3c;
    color: #fff;
}
.page-content{

}
.page-content .inner-box {
    overflow: hidden;
     background: #fff none repeat scroll 0 0;
}
.inner-box {
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    box-shadow: none;
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 20px 15px;
}

.title-2 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    padding-bottom: 15px;

}

h1, h2, h3, h4, h5,a{
    color: #009f3c;
}


.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    padding-top: 5px;
}
button, input {
    overflow: visible;
}
.table-action {
    display: block;
    margin-bottom: 15px;
}
label {
    
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.add-img-td img {
    max-width: 100px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.pull-right {
    float: right!important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.table-search .control-label {
    line-height: 16px;
    padding-right: 0;
    float:left;
}
.clear-filter {
    font-size: 11px;
    outline: 0;
    cursor: pointer;
    transition: all .2s linear 0s,letter-spacing 0s linear 0s;
    text-decoration: none;
}
.table-search .searchpan {
    padding-right: 0;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
aside{
 border-color: #ff0;
}

.table-action {
    display: block;
    margin-bottom: 15px;
}
.add-manage-table {
    font-weight: 400;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
        border-collapse: collapse;
    background-color: transparent;
}
.add-manage-table {
    font-weight: 400;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}

.descripion {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #DDD;

}
/** PROFILE**/
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.useradmin{
     font-size: 20px;
}
.useradmin a img {
 width: 80px;
 height: 80px;
 border-radius: 5px;
 border: 2px solid #e2e2e2;
}
.header-data {
    margin-top: 10px;
    text-align: right;
}
.hdata {
    display: inline-block;
    margin-right: 15px;
    width: 85px;
}
.mcol-left {
    float: left;
    
}
.mcol-right {
    float: right;
    width: 48%;
}
.welcome-msg {
    margin-bottom: 30px;
}
.small, small {
    font-size: 85%;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ebebeb;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #009f3c;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-body{
 margin-top: 50px;
}
.panel-heading {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    padding-bottom: 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    
}
.panel-heading .panel-title a{text-decoration: none; color: #fff;}

a:hover {
    color: #009f3c;
    text-decoration: none;
}
button, input {
    overflow: visible;
}
.checkbox, .radio {
    position: relative;
    display: block;
}
.form-horizontal .form-group {
    margin-right:50px;
    margin-left: 50px;
     color: #009f3c;
}

.form-control {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    height: 38px;
    padding: .5rem .75rem;
    font-size: .85rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: .25rem;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.update button{
 background-color: #009f3c;
  border: 1px solid #009f3c;
}
.update button:hover{
 background-color: #12BA50;
 border: 1px solid #12BA50;
}
.container{}
.usermanage{}
.cont{}


.show-img .img a {
    display: inline-block;
}
.show-img .img a img{
  margin-top: 10px;
  width:100%;
  height: 250px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;

}
.show-img  .description {
  margin: 10px auto;
  text-align: center;
  
}
article.blog.teaser {
    padding: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
article.blog.teaser a {
    color: #009688;
    text-decoration: none;
}
.view-blog-view .views-row .views-col .image-cropper {
    margin: 0 auto;
}
article.blog.teaser .image-cropper {
    margin: 30px auto;
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}
article.blog.teaser .date-div {
    width: 55px;
    float: left;
    margin: 0 10px;
    text-align: center;
}
article.blog.teaser .field--name-field-thumbnail-optional img {
    float: right;
    display: inline;
    height: 180px;
    width: auto;
    max-width: none;
}
article.blog.teaser .date-div {
    width: 55px;
    float: left;
    margin: 0 10px;
    text-align: center;
}
article.blog.teaser .date-div .date-div-day {
    padding: 5px 0;
    background-color: #F7F7F7;
    color: #009688;
    font-size: 16px;
}
article.blog.teaser .date-div .date-div-month {
    padding: 5px 0;
    background-color: #e36159;
    color: #F7F7F7;
    font-size: 16px;
}
article.blog.teaser h3 {
    font-family: "Quicksand",'Noto',Arial,sans-serif;
    font-size: 20px;
    color: #009688;
}
article.blog.teaser a {
    color: #009688;
    text-decoration: none;
}




/**********************************************/




/*recent-post-col////////////////////*/
.widget-sidebar {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}

.title-widget-sidebar {
    font-size: 14pt;
    border-bottom: 2px solid #e5ebef;
    margin-bottom: 15px;
    padding-bottom: 10px;    
    margin-top: 0px;
}

.title-widget-sidebar:after {
    border-bottom: 2px solid #f1c40f;
    width: 150px;
    display: block;
    position: absolute;
    content: '';
    padding-bottom: 10px;
}
.post-img{
overflow: visible;
}
.recent-post{
  width: 100%;list-style-type: none;}
.post-img img {
    width: 100px;
    height: 70px;
   float: left;
    margin-right: 15px;
    border: 5px solid #16A085;
    transition: 0.5s;
}

.recent-post a {text-decoration: none;color:#34495E;transition: 0.5s;}
.post-img, .recent-post a:hover{color:#F39C12;}
.post-img img:hover{border: 5px solid #F39C12;}
ul hr {
  margin-top: 10px;
  margin-bottom: 15px
}

/***************************/
