@import "./utils.scss";
@import "./global.scss";

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  min-height: 30vh;

  background: linear-gradient(180deg, #e672e1 0%, #e86060 100%);
  .container {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    max-width: 1400px;

    .row {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      width: calc(100% - 128px);
      padding: 64px;

      &:first-child {
        padding-bottom: 0;
      }
      &:last-child {
        padding-top: 0;
      }
    }

    .work-of-art {
      width: 50%;
      height: auto;
    }

    .contact-us {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      gap: 8px;

      width: 40%;

      .title {
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 160%;
        color: var(--white);

        margin-top: 8px;
      }

      .contact {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: var(--white);
        }
      }

      .input-container {
        position: relative;

        display: flex;
        align-items: center;
        padding: 18px;
        width: calc(100% - 36px);

        background: #0c0c0e;
        border-radius: 4px;

        > input {
          border: none;
          outline: none;
          background: none;

          width: 100%;

          font-weight: 400;
          font-size: 1rem;
          line-height: 19px;
          color: var(--white);
        }

        > button {
          height: fit-content;
          width: fit-content;
          background: none;
          border: none;

          display: flex;
          align-items: center;

          cursor: pointer;

          font-weight: 400;
          font-size: 1rem;
          line-height: 19px;
          color: var(--white);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;

          background: #741b1b;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }

    .v-line {
      width: 2px;

      background: hsla(0, 62%, 28%, 0.698);
    }

    .line {
      margin: 4vh 0px;

      width: 100%;

      height: 2px;

      background: hsla(0, 62%, 28%, 0.698);
    }

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 19px;

      .separation {
        width: 0px;
        height: 30px;

        border: 1px solid black;
      }
      .company-name {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--black);
      }
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        cursor: pointer;
      }
    }
  }
}
